.Rproj.user
.Rhistory
.RData
.Ruserdata
output
paper/references_main.bib
paper/article.docx
paper/plots
.~lock.*
paper/aft.cls
paper/te.bst

/.luarc.json
paper/article.md
paper/article.tex
paper/article_files
paper/_extensions
paper/article.pdf
